<h1>勉強時間投稿ページ</h1>
<div>
  <div>
    <%= form_with(model: @timepost, local: true) do |f| %>
      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control' %>

      <%= f.label :time %>
      <%= f.number_field :time, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>