<h1>勉強法投稿ページ</h1>
<div>
  <div>
    <%= form_with(model: @methodpost, local: true) do |f| %>
      <p><%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %></p>

      <p><%= f.label :科目 %> <br />
      <%= f.select :subjects ,[["国語", "国語"],["現代文","現代文"],["古文","古文"],["漢文","漢文"], ["数学", "数学"],["数学Ⅰ・A","数学Ⅰ・A"],["数学Ⅱ・B","数学Ⅱ・B"],["数学Ⅲ","数学Ⅲ"],
      ["英語","英語"],["英単語","英単語"],["英文法","英文法"],["英長文","英長文"],["物理","物理"],["化学","化学"],["生物","生物"],["世界史","世界史"],["日本史","日本史"],["倫理・政治経済","倫理・政治経済"]] %></p>


      <%= f.submit "投稿", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>